
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@600&family=Lato:wght@300;400;700&family=Noto+Sans:wght@100;200;300;400&family=Oswald:wght@200;400&family=Poppins:wght@100;200;300&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100&family=Source+Sans+Pro:wght@200&display=swap');
.main{
    height: 100vh;
    width: 100%;
    /* background-color:black ; */
    /* background-image: url('https://images.unsplash.com/photo-1668450433152-e56d7e8fe4ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    height: 80%;
    width: 50%;
  
box-shadow: 8px 8px 8px 9px rgba(20, 7, 7, 0.575);
color: black;
   
    border-radius: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 22PX;
    font-family: 'Lato', sans-serif;
}
.form input{
    height: 50%;
    width:90%;
    border-radius: 15px;
    justify-content: space-evenly;
}
.form label{
    height: 30%;
    width: 40%;
    /* display: flex; */
    justify-content: space-evenly;
}
form{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.con{
    height: 30%;
    color: black;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
    color: purple;
}

button{
    height: 10%;
    width: 50%;
    cursor: pointer;
    margin-left: 100px;
    border-radius: 20px;
    background-color: gray;
    color: white;
    font-size:20px ;
    /* transition: all 0.5s;  */
    /* transform:scale(1.1) ; */

}

.check{
 height: 10%;
 width: 60%;
    display: flex;
    justify-content: flex-start;

}